{% extends 'base.html' %}

{% block title %}
New guest add
{% endblock %}

{% block content %}
      <main role="main" class="inner cover">
        <p class="lead">
            <form action="{% url 'guest_add' %}" method="POST">
            <div class="form">
              {% include 'partial/guest_form.html' with button_text='Create' %}
            </div>
            </form>
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Kurentaev Adlet <a href="/">Contacts</a></p>
        </div>
      </footer>
{% endblock %}
