{% extends 'base.html' %}

{% block content %}
    <form action="" method="get">
        {% include "partial/guest_form.html" with button_text="Find" %}
    </form>
    <hr>
      <main role="main" class="inner cover">
        <p class="lead">
            <div class="row row-cols-1 g-4">
            {% for guest in guests %}
              <div class="col">
                <div class="card text-bg-dark h-100">
                  <div class="card-body">
                    <h5 class="card-title">{{ guest.author }} ({{ guest.email }})
                    <a href="{% url 'guest_update' guest.pk %}"><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'guest_delete' guest.pk %}"><i class="bi bi-trash3-fill"></i></a>
                    </h5>
                    <p class="card-text">{{ guest.content }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
        </p>
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Kurentaev Adlet <a href="/">Contacts</a></p>
        </div>
      </footer>
{% endblock %}
