{% extends 'base.html' %}

{% block content %}
      <main role="main" class="inner cover">
        <p class="lead">
            <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for guest in guests %}
              <div class="col">
                <div class="card text-bg-dark h-100">
                  <div class="card-body">
                    <p class="card-title">{{ guest.author }} ({{ guest.email }})
                    <a class="btn btn-danger mx-1" href="{% url 'guest_update' guest.pk %}">X</a>
                    <a class="btn btn-danger mx-1" href="{% url 'guest_delete' guest.pk %}">O</a>
                    </p>
                    <p class="card-text">{{ guest.content }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Kurentaev Adlet <a href="/">Contacts</a></p>
        </div>
      </footer>
{% endblock %}
